<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Mini-Jane</h1>
      <a href="/admin/schedule">Schedule</a>
      <a href="">Patients</a>
      <a href="/admin/staff">Staff</a>
      <a href="">Settings</a>
    </header>
    
    <main>
      <%== yield %>
    </main>
  </body>
</html>


