<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jane</title>
    <script src="/scripts/jquery-3.7.1.js"></script>
    <script src="/scripts/application.js"></script>
  </head>
  <body>
    <header>
      <h1>Mini-Jane</h1>
      <a href="/admin/schedule">Schedule</a>
      <a href="/admin/patients">Patients</a>
      <a href="/admin/staff">Staff</a>
      <a href="">Settings</a>
    </header>

    <% if session[:success] %>
      <div><%= session.delete(:success) %></div>
    <% end %>
    
    <% if session[:errors].any? %>
      <div>
        <% session[:errors].each do |error| %>
          <div><%= error %></div>
        <% end %>
        
        <% session[:errors].clear %>
      </div>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>


