<ul class="patients-list">
  <% @patients.each do |patient| %>
    <li>
      <a href="/admin/patients/<%= patient.id %>">
        <%= patient.full_name %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/admin/patients/new">New Patient</a>