<ul class="staff-list">
  <% @staff.each do |staff| %>
    <li>
      <a href="/admin/staff/<%= staff.id %>">
        <%= staff.full_name %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/admin/staff/new">New Staff Member</a>