<h2>Disciplines</h2>

<a href="/admin/disciplines/new">New Discipline</a>

<ol>
<% @disciplines.each do |discipline| %>
  <li>
    <h4><%= discipline.name %></h4>
    <p>Title: <%= discipline.title %></p>
    <p><%= @counts[discipline.id] %> Staff Members</p>
    <a href="/admin/disciplines/<%= discipline.id %>/edit">Edit</a>
  </li>
<% end %>
</ol>