<h2>New Discipline</h2>

<form action="/admin/disciplines/new" method="post">
  <div>
    <label for="name">Name - Required</label>
    <input type="text" name="name" id="name"
      value="<%= prefill(:name, params) %>"> <%# required %>
  </div>

  <div>
    <label for="title">Title - Required</label>
    <input type="text" name="title" id="title"
      value=<%= prefill(:title, params) %>> <%# required %>
  </div>

  <div>
    <a href="/admin/disciplines">Cancel</a>
    <button type="submit">Create Discipline</button>
  </div>
</form>