<h2>Treatments</h2>

<% @disciplines.each do |discipline| %>
  <h4><%= discipline.name %></h4>

  <ol>
  <% @treatments_by_discipline_id[discipline.id].each do |treatment| %>
    <li>
      <p><%= treatment.name %></p>
      <p>Treatment Length: <%= treatment.length %> minutes</p>
      <p>Price: <%= treatment.price %></p>
    </li>
  <% end %>
  </ol>
<% end %>
